[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
flask = "*"
uwsgi = "*"
flask-restful = "*"
prometheus-client = "*"
pika = "*"
google-cloud-logging = "*"

[requires]
python_version = "3.6"
